.admin-wrapper {
    display: flex;
    background-color: #F9F9F9;
}

/* Side Navigation */
.side-nav-wrapper {
    width: 20%;
    padding: 20px;
    background-color: #3A3A3A;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-wrapper {
    width: 100%;
}

.side-nav-btns {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav-btn {
    font-size: 24px;
    margin: 20px 0px;
    transition-duration: 500ms;
}

.side-nav-btn > * {
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    transition-duration: 500ms;
    border-radius: 20px;
}

.side-nav-btn > *:hover {
    color: #3A3A3A;
    background-color: #FFFFFF;
}

.active-side-nav-btn > * {
    color: #3A3A3A;
    background-color: #FFFFFF;
}

.logout-wrapper {
    margin-top: auto;
}

/* Pages */

.page {
    margin-left: 20%;
    padding: 30px;
    flex-grow: 1;
}

/* Students */
.students-cards-wrapper {
    width: 100%;
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    row-gap: 5%;
}

.student-card {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 0px 4px 1px #2FABDC;
}

.student-profile-picture {
    width: 100px;
    height: 100px;
    background-color: gainsboro;
    border-radius: 100%;
}

.student-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    flex-grow: 1;
    margin-left: 10px;
}